body{
    background: url("img/배경.jpg");
    margin: 0;
    font-family: "Gugi",sans-serif;
}
a {
    color : black;

    text-decoration: none; /*밑줄없애기*/
}
h1 {
    font-size: 30px; 
    
    margin: 0px;
    padding: 20px;
} 

 .saw {
    color: gray;
    line-height: 150%;
    border-bottom: 2px dotted gray;
}

#grid ol{
    color: gray;
    font-style: italic;
    width: 100px;
    height: 75px;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    padding-left: 33px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white ;
    background-color: rgba( 255, 255, 255, 0.5 );
    
}
#grid{
    
    display: grid;
    grid-template-columns: 150px 1fr 1fr; /*칼럼 생성, 첫번째 칼럼은 150크기로, 두번째 칼럼은 나머지 다*/

}
#article{
    font-family: "Nanum Gothic",sans-serif;
    line-height: 150%;
    background-color: white ;
    background-color: rgba( 255, 255, 255, 0.5 );
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    width: 835px;
    height: 400px;
    
}

h3{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px dotted gray;
    margin-top: 0px;
    margin-bottom: 0px;

}
#toph1{
    display: grid;
    grid-template-columns: 950px 1fr 1fr;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 1050px;
    background-color: white ;
    background-color: rgba( 255, 255, 255, 0.5 );
}
#button{
    font-family: "Nanum Gothic",sans-serif;
    width:150px;

    background-color: #F5ECCE;

    border: none;
    border-radius: 10px;
    color:rgba(54, 47, 39, 0.87);

    padding: 15px 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    text-decoration: none;  

    display: inline-block;

    font-size: 15px;

    margin: 4px;
    margin-left: 10px;
    cursor: pointer;


}
